<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>

<body>
    <form method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="odds_1" placeholder="Odds_1" type="number" step="0.01"
                min=0 />
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="odds_x" placeholder="Odds_X" type="number" step="0.01"
                min=0 />
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="odds_2" placeholder="Odds_2" type="number" step="0.01"
                min=0 />
        </div>
        <button class="btn btn-primary" type="submit">Predict</button>
    </form>
</body>

</html>