<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>

<body>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>1</th>
            <th>X</th>
            <th>2</th>
        </tr>
    </thead>
    <tbody>
        <td>Odds</td>
        <td>{{ odds_1 }}</td>
        <td>{{ odds_x }}</td>
        <td>{{ odds_2 }}</td>
        <tr>
            <td>Probability</td>
            <td>{{ "{:,.2f}".format(prob_1) }}</td>
            <td>{{ "{:,.2f}".format(prob_x) }}</td>
            <td>{{ "{:,.2f}".format(prob_x) }}</td>
        </tr>
    </tbody>
</table>
</body>

</html>


