{% extends "base.html" %}

{% block title %}
Hejsan
{% endblock %}

{% block main %}
<h4>Handbollsligan</h4>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        {% for col in h1_g.columns %}
        <th>
            {{ col }}
        </th>

        {% endfor %}
    </thead>
    <tbody>
        {% for index, game in h1_g.iterrows() %}
        <tr>
            {% for column in h1_g %}
            <td>{{ game[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>SHE</h4>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        {% for col in d1_g.columns %}
        <th>
            {{ col }}
        </th>

        {% endfor %}
    </thead>
    <tbody>
        {% for index, game in d1_g.iterrows() %}
        <tr>
            {% for column in d1_g %}
            <td>{{ game[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Standings Handbollsligan</h4>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        {% for col in h1_s.columns %}
        <th>
            {{ col }}
        </th>

        {% endfor %}
    </thead>
    <tbody>
        {% for index, standing in h1_s.iterrows() %}
        <tr>
            {% for column in h1_s %}
            <td>{{ standing[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>SHE Standings</h4>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        {% for col in d1_s.columns %}
            <th>
                {{ col }}
            </th>
            
        {% endfor %}
    </thead>
    <tbody>
        {% for index, standing in d1_s.iterrows() %}
        <tr>
            {% for column in d1_s %}
                <td>{{ standing[column] }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}